@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* telainfográfico */
body {
    background: #f4f1ed;
    margin: 0;
}

p {
    font-family: "Poppins", sans-serif;
}

.tema {
    text-align: center;
    padding: 2%;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background: #a84309;
    font-family: "Playfair Display", serif;
    color: white;
    text-transform: uppercase;
    font-size: 70px;
}

.descricao {
    width: 70%;
    height: auto;
    border-left: 0.3vw solid #a84309;
    padding-left: 0.7vw;
    font-size: 25px;
    line-height: 1.5;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    margin-left: 10vw;
    margin-right: auto;

}

.container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 90%;
    height: auto;
    background: #ffffff;
    border-radius: 15px;
    margin: auto auto;
    position: relative;
}

.container img {
    max-width: 55%;
    display: block;
    margin: 1vw auto;
}

.titulo {
    text-transform: uppercase;
    font-size: 40px;

}

.hastag {
    color: #38b6ff;
    font-size: 5px;
    margin-top: 0;

}

.container p {
    font-size: 20px;
    margin-bottom: 0;
}

.botao-insiracomentario {
    text-decoration: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #807977;
}

.botao-vercomentario {
    margin-top: 0;
    font-size: 20px;
    color: #252f3d;
}

hr {
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #252f3d;
}

.botaoprincipal {
    display: block;
    margin: 1vw auto;
    width: fit-content;
    padding: 1vw 1vw;
    background-color: #af4c0f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.3vw;
}

.botaoprincipal:hover {
    background-color: #c65c1a;
    /* Cor de fundo ao passar o mouse */
}


/* telacomatários */

summary {
    cursor: pointer;
    list-style: none;
    display: block;
}

summary::before {
    content: "";
    display: none;
}



.fundocomentarios {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 90%;
    padding: 1vw;
}

.titulocoment {
    position: relative;
    margin-top: 1vw;
    display: flex;
    align-items: center;
}

.titulocoment a {
    font-weight: bold;
    margin: 1vw;
    width: fit-content;
    padding: 10px;
    background-color: #af4c0f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.titulocoment a:hover {
    color: whitesmoke;
}

.titulocoment h2 {
    text-align: center;
    margin-top: 0.7vw;
    margin-left: 34%;
    color: #8B4513;
}

.comments {
    margin: 2vw;
    height: auto;
}

.comment-card {
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: left;
    margin-left: 20px;
}

.comment-user {
    font-weight: bold;
    color: #8B4513;
    font-size: 18px;
    padding-left: 20px;
}

.comment-text {
    font-size: 18px;
    margin-top: 10px;
    padding-left: 8px;
}

.add-comment {
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-comment .form-control {
    border-radius: 15px;
    background-color: #D2B48C;
    height: 50px;
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

.add-comment .btn {
    border-radius: 50%;
    background-color: #8B4513;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.add-comment .btn:hover {
    background-color: #6A2F1B;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    inset: 0;
    padding: 1rem;
    background: rgba(57, 20, 4, 0.8);
    justify-content: center;
    align-items: center;
}

/* imagem exibida no lightbox */
.lightbox img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.lightbox span {
    display: block;
}

.lightbox:target {
    display: flex;
}

@media (max-width: 768px) {
    .tema {
        font-size: 30px;
    }

    .descricao {
        font-size: 12px;
        width: 90%;
        border-left: 0.4vw solid #a84309;
        margin-left: 5vw;
    }

    .titulo {
        font-size: 20px;
    }

    .container img {
        max-width: 70%;
    }

    .hastag {
        font-size: 20px;
    }

    .container p {
        font-size: 10px;
    }

    .botao-insiracomentario {
        font-size: 9px;
    }

    .botao-vercomentario {
        font-size: 9px;
    }

    .titulocoment {
        height: 30px;
    }

    .titulocoment a {
        padding: 4px;
        margin: 10px;
        font-size: 7px;
    }

    .titulocoment h2 {
        margin-left: 30%;
        font-size: 15px;
    }

    .comments {
        margin: 1vw;
        height: auto;
    }

    .comment-card {
        margin-bottom: 12px;
        padding: 12px 0;
        margin-left: 10px;
    }

    .comment-user {
        font-size: 12px;
        padding-left: 13px;
    }

    .comment-text {
        font-size: 13px;
        margin-top: 7px;
        padding-left: 8px;
    }

    .add-comment .form-control {
        height: 40px;
        font-size: 12px;
    }

    .add-comment .btn {
        border-radius: 50%;
        background-color: #8B4513;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .add-comment {
        width: 90%;
        margin-left: 5%;
    }

    .botaoprincipal {
        padding: 1.5vw 1.5vw;
        font-size: 1.7vw;
    }
}