@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
}



/*Título Principal*/
#fundo_titulo_principal {
    background-image: url("img/Paisagemlinguística.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vw;
    color: white;
}

#titulo_pagina_principal {
    font-family: "Playfair Display", serif;
    font-size: 6vw;
    margin-bottom: 10px;
}

#subtitulo_pagina_principal {
    font-family: "Poppins", sans-serif;
    margin-top: 0;
    font-size: 2vw;
    letter-spacing: 2px;
}

/*Citação Principal*/
#citacao {
    background-image: url(img/caixacitacao.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 13vw;
    align-items: center;
}

#texto_citacao {
    font-size: clamp(1rem, 3vw, 4rem);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/*Início do bloco informacional(sobre o projeto e participantes)*/

.texto {
    text-align: left;
    padding: 2vw;
}

.titulo2pa {
    font-family: "Playfair Display", serif;
    font-size: 3vw;
    color: #4c5b5c;
    margin-bottom: 2vw;
    text-align: center;
}

.texto2pa {
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    line-height: 1.6;
    text-align: justify;
    padding: 0 1.5vw;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img2pa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay-texto {
    display: none;
}

/* --- Telas pequenas --- */
@media (max-width: 768px) {
    .texto-col {
        display: none;
        /* some o texto da coluna separada */
    }

    .overlay-texto {
        display: block;
    }

    .img-container {
        position: relative;
        width: 100%;
    }

    .img2pa {
        height: 400px;
    }

    /* Sombreado escuro sobre a imagem */
    .img-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(24, 2, 2, 0.45);
        z-index: 1;
    }

    /* Texto sobre a imagem */
    .overlay-texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        color: white;
        text-align: center;
        z-index: 2;
        padding: 15px;
    }

    .overlay-texto .titulo2pa {
        font-size: 1.6rem;
        color: white;
        margin-bottom: 10px;
    }

    .overlay-texto .texto2pa {
        font-size: 1rem;
        text-align: justify;
    }
}

/*Relatos*/


.fundorelatos {
    background: #a84309;
    height: auto;
    display: flex;
    padding: 30px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulorelatos {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 3vw;
    text-align: center;

}

.linha {
    width: 80vw;
}

.comentarios {
    background-color: whitesmoke;
    color: black;
    min-height: 170px;
    padding: 20px 25px;
    border-radius: 1vw;
    font-size: 21px;
    line-height: 23px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comentarios::before {
    content: "❝ ";
    font-size: 1rem;
    color: black;
}

@media (max-width: 768px) {

    .comentarios {
        width: 95%;
        margin-left: 2%;
        font-size: 17px;
        line-height: 19px;
        min-height: 50px;
    }

    .titulorelatos {
        font-size: 30px;
    }
}



/*Acesso aos Inforgráficos*/

.fundoexplore {
    background-color: rgb(236, 228, 216);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    padding: 3vw 2vw;
}

.tituloexplore {
    font-family: "Playfair Display", serif;
    font-size: 4.5vw;
    color: #a84309;
    margin-bottom: 2vw;
    text-align: center;
}


.caixa {
    width: 22vw;
    height: 12vw;
    border: 0.2vw solid #4c5b5c;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
}

.caixa:hover {
    width: 22.1vw;
    height: 12.1vw;
}

.caixa .assunto {
    white-space: nowrap;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    font-size: 1.7vw;
    margin: 0;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/*Rodapé*/

.fundorodape {
    background: #a84309;
    min-height: 10vw;
    padding: 1vw;
    position: relative;
}

.inf-gerais p {
    margin-top: 2px;
    margin-bottom: 3px;
    color: white;
}

.logoifmg {
    margin: 0;
    left: 0;
    width: 30vw;
}

.texto-rodape {
    font-size: 1.5vw;
}

.titulo-rodape {
    font-size: 1.5vw;
}

@media (max-width: 768px) {

    .row3 {
        width: 80%;
    }

    .caixa {
        width: 170px;
        height: 90px;
    }

    .caixa:hover {
        width: 171px;
        height: 91px;
    }

    .caixa .assunto {
        font-size: 17px;

    }

    .logoifmg {
        width: 40vw;
    }

    .inf-gerais p {
        font-size: 13px;
    }
}

/*Login*/
.fundo-login {
    background-color: #a84309;
}

.bloco-branco-login {
    background-color: white;
}

.textos-login {
    color: #a84309;
    font-family: Arial, Helvetica, sans-serif;
}

.link-login {
    color: #a84309;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.link-login:hover {
    color: #572406;
}

#botao-login {
    background-color: #a84309;
    color: white;
    width: 40%;
}